.image{
    width: 180px;
    height: 240px;
}
.card{
    box-shadow: 0 4px 8px 0 lightgray;
    width: 200px;
    height: 450px;
    margin: 15px;
    border-radius: 10px;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.6s;
        cursor: pointer;

}
.detail-button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(67, 67, 67);
     color: white;
}
.detail-button:hover{
    background-color: rgb(152, 110, 54);
    cursor: pointer;
    transition: all 0.6s;
}   