


:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

body.dark-theme {
    --bg-color: #1a1a1a; 
    --text-color: #ffffff;
}


body{ margin: 0;
 padding: 0;
  
  background-color: var(--bg-color);
  color: var(--text-color);
  
  transition: background-color 0.3s ease, color 0.3s ease;
}

.flex-row{
display: flex; flex-direction: row;
 align-items: center;
justify-content: center;
}
.flex-column{ display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}


#root{
  min-height: 100vh;
}

.basket-drawer-container {
    width: 350px;
    padding: 15px;
}
.basket-header{
  display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.basket-close-btn{
  background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
}

.basket-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px dotted #eee;
}