


:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

body.dark-theme {
    --bg-color: #1a1a1a; 
    --text-color: #ffffff;
}


body{ margin: 0;
 padding: 0;
  
  background-color: var(--bg-color);
  color: var(--text-color);
  
  transition: background-color 0.3s ease, color 0.3s ease;
}

.flex-row{
display: flex; flex-direction: row;
 align-items: center;
justify-content: center;
}
.flex-column{ display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}


#root{
  min-height: 100vh;
}

.basket-drawer-container {
    width: 350px;
    padding: 15px;
}
.basket-header{
  display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.basket-close-btn{
  background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
}

.basket-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px dotted #eee;
}

.item-title {
    flex-grow: 1;
    margin: 0;
    width: 120px; /* Sabit genişlik ihtiyacı varsa */
}

.item-price {
    margin: 0;
    font-weight: bold;
    width: 80px; /* Sabit genişlik ihtiyacı varsa */
}

.delete-btn {
    margin-right: 5px;
    border-radius: 5px;
    background-color: rgba(185, 76, 76);
    border: none;
    color: #fff;
    width: 50px;
    padding: 5px;
    cursor: pointer;
    /* HOVER EFEKTİ EKLEME */
    transition: background-color 0.2s; /* Geçiş efekti ekle */
}
.delete-btn:hover {
    background-color: rgba(185, 76, 76, 0.8); /* %80 opaklıkta hover rengi */
}

.basket-total {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid #333;
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
}